{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Website a Personal Portfolio Category Bootstrap Responsive Website Template | Contact :: W3layouts</title>
    <!-- web fonts -->
    <link href="{%static '//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap' %}" rel="stylesheet">
    <link href="{%static '//fonts.googleapis.com/css?family=Hind&display=swap' %}" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
  </head>
  <body>


</section>


<!-- contact -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">
            
            <div class="row cont-main-top">
               <!-- contact form -->
               <div class="contacts12-main col-lg-6 ">
                   
                <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="main-input">
                    <div class="top-inputs d-grid">
                        <input type="text" placeholder="Name" name="w3lName" id="w3lName" required="">
                       
                    </div>
                    <input type="email" name="email" placeholder="Email" id="w3lSender" required="">
                   
                    <textarea placeholder="Message" name="w3lMessage" id="w3lMessage" required=""></textarea>
                    <div class="text-right">
                        <button type="submit" class="btn btn-theme2">Submit Now</button>
                    </div>
                </form>
            </div>
            <!-- //contact form -->
                <!-- contact address -->
                <div class="contact col-lg-6 mt-lg-0 mt-5">
                    <div class="cont-subs">
                        <div class="cont-add">
                            <div class="cont-add-lft">
                                <span class="fa fa-map-marker" aria-hidden="true"></span>
                           </div>
                           <div class="cont-add-rgt">
                            <p class="contact-text-sub">Sastra University, Tanjore</p>
                        </div>
                      
                    </div>
                        <div class="cont-add add-2">
                            <div class="cont-add-lft">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                           </div> 
                           <div class="cont-add-rgt">
                          
                                <p class="contact-text-sub">122015008@sastra.ac.in</p>
                            
                        </div>
                       
                    </div>
                        <div class="cont-add">
                            <div class="cont-add-lft">
                                <span class="fa fa-phone" aria-hidden="true"></span>
                           </div>
                            <div class="cont-add-rgt">
                                
                                    <p class="contact-text-sub">975367596</p>
                                 
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- //contact address -->
                 
            </div>
        </div>
       
    </div>
</section>



</body>

</html>


